@{
    ViewData["Title"] = "Home Page";

    var serviceAMessage = ViewBag.ServiceA;
    var serviceBMessage = ViewBag.ServiceB;
    var serviceCMessage = ViewBag.ServiceC;

}

<div class="text-center">
    <br />
    <br />
    <h2 class="display-4">Test Dependency Application</h2>
    <br />
    <br />
    <p><h4>@serviceAMessage </h4></p>
    <br />
    <br />
    <p><h4>@serviceBMessage </h4></p>
    <br />
    <br />
    <p><h4>@serviceCMessage </h4></p>

</div>
